*{
    font-family: 'Hanken Grotesk', sans-serif;
    box-sizing: border-box;
    margin:0;
}

p{
    font-size: 18px;
}
/*body{
    display: flex;
    flex-direction: column;
    align-items: center;
}*/

.main-container{
    background-color: hsl(252, 100%, 67%);
    color:hsl(0, 0%, 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}

.number{
    background-image: linear-gradient(hsla(256, 72%, 46%, 1), hsla(241, 72%, 46%, 0));
    border-radius: 50%;
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.number p{
    font-size: small;
}

.main-container h1{
    font-size: 55px;
}

.main-container h2{
    margin-top: 1em;
}

#of{
    color:hsl(0, 0%, 100%, 0.4);
}

#transparency{
    color:hsl(0, 0%, 100%, 0.8);
    padding: 0.5em 3em 1em 3em;
    font-size: 15px;
    text-align: center;
}



.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }